@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background: rgb(34, 29, 29);
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

i:hover {
  color: rgba(197, 95, 0, 0.918);
  transform: scale(1.08);
  transition: 0.4s ease-out;
}

h2 {
  font-family: allura;
  text-transform: capitalize;
  color: rgba(197, 95, 0, 0.918);
  font-size: 1.8rem;
}
@media screen and (max-width: 770px) {
  h2 {
    font-size: 0.8rem;
  }
}

h3 {
  font-family: poppins;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

h4 {
  font-family: poppins;
  text-transform: capitalize;
}

h6 {
  font-family: poppins;
  text-transform: uppercase;
  color: rgba(197, 95, 0, 0.918);
  font-size: 0.8rem;
}

nav {
  display: flex;
}

.the {
  max-width: 40px;
  max-height: 40px;
  margin: 20px auto;
}
.the:hover {
  color: rgba(197, 95, 0, 0.918);
  transform: scale(1.08);
  transition: 0.4s ease-out;
}
@media screen and (max-width: 1130px) {
  .the {
    margin: 20px auto;
  }
}

.gold {
  font-family: poppins;
  color: rgba(197, 95, 0, 0.918);
}

.cook {
  max-width: 50px;
  max-height: 50px;
  border-radius: 80px;
  margin: 50px auto 20px;
}
@media screen and (max-width: 1130px) {
  .cook {
    margin: 10px auto 10px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.event {
  font-family: roboto;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-size: 1rem;
  padding-left: 10px;
}

.tickets {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.date {
  height: 80px;
  width: 80px;
  background: rgb(34, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date .day {
  font-family: poppins;
  color: rgb(252, 243, 243);
  padding: 0;
  font-size: 1.5rem;
}
.date .month {
  font-family: roboto;
  text-transform: capitalize;
  color: rgb(252, 243, 243);
  padding: 0;
  font-size: 1.2rem;
}
.date .cheef-name {
  font-family: poppins;
  text-transform: uppercase;
  color: rgba(97, 97, 97, 0.473);
}

header {
  background: url(/Maquette-resto/assets/img/bg-slider-06.jpg) center/cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
header .nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  height: 70px;
  color: rgb(252, 243, 243);
}
@media screen and (max-width: 1130px) {
  header .nav {
    width: 70%;
    font-size: 0.8rem;
  }
  header .nav h2 {
    font-size: 1.5rem;
    transform: translateY(50%);
  }
}
header .nav h2 {
  color: rgb(252, 243, 243);
}
header .nav h2:hover {
  color: rgba(197, 95, 0, 0.918);
  transform: scale(1.08);
  transition: 0.4s ease-out;
}
header .nav nav {
  width: 70%;
}
header .nav nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: roboto;
  font-size: 0.8rem;
}
@media screen and (max-width: 1130px) {
  header .nav nav ul {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 630px) {
  header .nav nav ul {
    display: none;
  }
}
header .nav nav ul li:hover {
  color: rgba(197, 95, 0, 0.918);
  transform: scale(1.08);
  transition: 0.4s ease-out;
  cursor: pointer;
}
header .icons {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 603px) {
  header .icons {
    width: 40%;
  }
}
header .title {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .title h1 {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: rgb(252, 243, 243);
  letter-spacing: 3px;
}
@media screen and (max-width: 1130px) {
  header .title h1 {
    font-size: 3.5rem;
  }
}
header h2 {
  font-size: 3.5rem;
  margin-bottom: -30px;
}
@media screen and (max-width: 1130px) {
  header h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
}
header p {
  margin-top: 30px;
  font-family: roboto;
  color: rgb(252, 243, 243);
  font-size: 1.5rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 1130px) {
  header p {
    font-size: 0.8rem;
  }
}

main {
  margin: 0 auto;
}
main .store {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
}
@media screen and (max-width: 770px) {
  main .store {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
main .store .left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .store .left .left-container {
  height: 90%;
  width: 90%;
  border: 1px dashed rgba(197, 95, 0, 0.918);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and ((max-width: 1130px)) {
  main .store .left .left-container {
    font-size: 0.6rem;
  }
  main .store .left .left-container h2 {
    font-size: 0.6rem;
  }
}
main .store .right {
  height: 100%;
}
main .store .right img {
  height: 100%;
  width: 100%;
}
main section {
  height: 100%;
  position: relative;
}
main section .discover h2 {
  margin-top: 80px;
}
main section .b {
  position: absolute;
  z-index: -1;
  width: 100%;
  transform: translateY(25%);
}
main section .b img {
  width: 100%;
}
main section .back-one {
  height: auto;
  width: 50%;
  margin: 0 auto 200px;
  z-index: 2;
}
@media screen and (max-width: 1000px) {
  main section .back-one {
    width: 90%;
  }
}
main section .back-one nav {
  height: 50px;
}
main section .back-one nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: poppins;
  text-transform: capitalize;
  color: rgb(252, 243, 243);
}
main section .back-one nav ul li {
  border-bottom: 1px solid rgb(252, 243, 243);
}
main section .back-one nav ul li:hover {
  color: rgba(197, 95, 0, 0.918);
  transform: scale(1.08);
  transition: 0.4s ease-out;
  cursor: pointer;
  border-bottom: 1px solid rgba(197, 95, 0, 0.918);
}
main section .back-one .menu {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
  height: 80vh;
  padding-left: 10px;
  margin-bottom: 250px;
}
@media screen and (max-width: 1000px) {
  main section .back-one .menu {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
main section .back-one .menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: rgba(197, 95, 0, 0.918);
}
main section .back-one .menu .menu-left,
main section .back-one .menu .menu-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
main section .back-one .menu .menu-left .menu-name,
main section .back-one .menu .menu-right .menu-name {
  padding-left: 10px;
  text-align: left;
}
main section .back-one .menu .menu-left .menu-name h5,
main section .back-one .menu .menu-right .menu-name h5 {
  font-family: poppins;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 1130px) {
  main section .back-one .menu .menu-left .menu-name h5,
  main section .back-one .menu .menu-right .menu-name h5 {
    font-size: 1rem;
  }
}
main section .back-one .menu .menu-left p,
main section .back-one .menu .menu-right p {
  padding: 0;
  font-family: roboto;
  text-transform: capitalize;
}
@media screen and (max-width: 1130px) {
  main section .back-one .menu .menu-left p,
  main section .back-one .menu .menu-right p {
    font-size: 1rem;
  }
}
main section .back-one .menu img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 80px;
}
main section .online {
  width: 70%;
  margin: 250px auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 800px) {
  main section .online {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
  }
}
main section .online .open {
  background: black;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .online .open .open-dashed {
  border: 1px dashed rgba(197, 95, 0, 0.918);
  padding: 10px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main section .online .open .open-dashed h3 {
  font-size: 1rem;
  color: rgb(252, 243, 243);
}
main section .online .open .open-dashed h6 {
  margin: 5px;
}
main section .online .open .open-dashed p {
  padding: 0;
  font-family: roboto;
  text-transform: capitalize;
  color: rgb(252, 243, 243);
  font-size: 0.8rem;
}
main section .online .booking {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main section .online .booking button {
  margin: 50px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background: rgb(0, 0, 0);
  font-family: poppins;
  text-transform: uppercase;
  color: rgb(252, 243, 243);
  cursor: pointer;
}
main section .online .booking .formular {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 30px;
  justify-content: center;
}
main section .online .booking .formular input,
main section .online .booking .formular select {
  border: hidden;
  border-bottom: 1px solid rgba(97, 97, 97, 0.473);
}
main section h3 {
  color: rgb(252, 243, 243);
}
@media screen and (max-width: 800px) {
  main section .upcoming {
    display: none;
  }
}
main section .celebration {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 15px;
  width: 65%;
  height: 50vh;
  margin: auto;
}
@media screen and (max-width: 800px) {
  main section .celebration {
    display: none;
  }
}
main section .celebration .left-celebration {
  text-align: left;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
main section .celebration .left-celebration .party {
  display: grid;
  grid-template-columns: 30% 70%;
}
main section .celebration .left-celebration .party .bottle {
  background: url(/Maquette-resto/assets/img/bouteille.jpg) center/cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .celebration .left-celebration .party .table {
  background: url(/Maquette-resto/assets/img/event-02.jpg) center/cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .celebration .left-celebration .right-party {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 10px;
}
main section .celebration .left-celebration .right-party h6 {
  font-family: roboto;
  text-transform: capitalize;
}
main section .celebration .left-celebration .right-party h6 padd p {
  font-family: roboto;
  text-transform: capitalize;
  color: rgba(97, 97, 97, 0.473);
  padding: 0;
}
main section .right-celebration {
  background: url(/Maquette-resto/assets/img/event-03.jpg) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .right-celebration .thousands {
  height: 80%;
  width: 80%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .map {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
  background: url(/Maquette-resto/assets/img/gmap.jpg);
  transform: translateY(55%);
}
main .ceo {
  position: relative;
  width: 65%;
  background: white;
  margin: 150px auto;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  main .ceo {
    width: 90%;
  }
}
main .ceo .cook {
  position: absolute;
  margin-top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

footer {
  background: url(/Maquette-resto/assets/img/bg-footer.jpg) center/cover;
  height: auto;
}
@media screen and (max-width: 800px) {
  footer {
    background: none;
    height: 500px;
  }
}
footer .end-part {
  margin: auto;
  width: 65%;
  height: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: left;
}
footer .end-part .left-end {
  padding: 20px;
}
@media screen and (max-width: 800px) {
  footer .end-part .left-end {
    display: none;
  }
}
footer .end-part .left-end p {
  font-family: roboto;
  color: rgb(252, 243, 243);
  letter-spacing: 1px;
  line-height: 2em;
  font-size: 0.8rem;
}
footer .end-part .right-end {
  padding-left: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(97, 97, 97, 0.473);
}
@media screen and (max-width: 800px) {
  footer .end-part .right-end {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
  }
}
footer .end-part .right-end h3 {
  font-size: 0.8rem;
  color: rgb(252, 243, 243);
}
footer .end-part .right-end input {
  background: none;
  border: 1px solid rgba(197, 95, 0, 0.918);
  padding: 5px;
  width: 60%;
  color: rgb(252, 243, 243);
}
footer .end-part .right-end .social {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .end-part .right-end .social p {
  padding: 0;
}/*# sourceMappingURL=index.css.map */